<!doctype html>
<html lang="en">
  <head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="/barChart2.js"></script>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <!-- Image and text -->
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
         <a class="navbar-brand" href="/">
         <img src="/static/images/logo.png" alt="" width="110" height="48" class="d-inline-block align-top">
            
         </a>
        </div>
     </nav>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Home</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/cory">World Map</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Comparison Charts
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="/kim">Player Analysis</a></li>
                  <li><a class="dropdown-item" href="/jessica">Summary Statistics</a></li>
                  <li><a class="dropdown-item" href="/greg">Players Overview</a></li>
                  <li><a class="dropdown-item" href="/grant">Country Breakdown</a></li>
                </ul>
                <li class="nav-item">
                  <a class="nav-link" href="/about">About Us</a>
                </li>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <div class = "container">
        <h1>About Team 1</h1>

        <h3>Cory A. Russell</h3>
        <p>
          My favorite soccer team is TSV 1860 Munich! (Einmal Lowe, Immer Lowe!). I also root for Leeds United, FC Copenhagen and both Portland Timbers and Thorns. My favorite non US soccer team is Germany; I watched them win Euro ’96 from a square in Bavaria while drinking German Bier. The whole country went crazy - Ausgezeichnet! I would also really like to see a team from outside Europe and South America win a World Cup in my lifetime…
          I grew up in Oregon and went to college at The Citadel in Charleston, SC. I moved around a bit and ended up in Atlanta. I live in Druid Hills, across the street from Emory, with Jen (an Epidemiologist at CDC) and our corgi, Rory. I worked as a Market Analyst for years and began teaching myself some coding and mapping before finding this bootcamp. I am looking to work in Data Science and work on interesting problems.
        </p>

        <br>


        <h3>Grant Hicks</h3>
        <p>
          I grew up in Roswell, GA and graduated from Georgia Tech in 2017. I worked in accounting but found that my interest lies in data analytics and am looking to pursue a career in the field. I currently live in Dunwoody, GA with my wife Mary Alice and our kitten, Taylor. My favorite team is Juventus FC (because it's my friends favorite team and I know one of their players lol) and the country I'd cheer for in the World Cup is Switzerland because I was there and cheered them on when Euro 2016 was going on.
        </p>
        
        <br>


        <h3>Kim Crine</h3>
        <p>
          My favorites team is Liverpool because it's my friend's favorite and he's probably their biggest American fan. I would cheer for Spain in the World Cup because I love their energy.
          (if you include the extra info -- I grew up and currently reside with my dog, Bentley, in Atlanta. I was working as a Convention Services Manager for Omni Hotels, but am looking forward to new opportunities in the world of data science & analytics. )
        </p>
        
        <br>


        <h3>Greg Atkinson</h3>
        <p>
          I'm from St. Louis, and was a data center manager before and My favorite MLS team is Sporting Kansas City.  In the EPL, it would be Wolverhampton.  If I had to root for another country, I'd go with Belgium. 
        </p>
        
        <br>

        <h3>Jessica Layne</h3>
        <p>
          I'm moving to Portland, OR next week, so I hope to be accepted by the Portland Timbers fanbase! My favorite premiere league team is Arsenal (Go Gunners!). My soccer superfan boyfriend is Colombian, so I'm always cheering them on in the world cup! After graduating for UGA, I became a chandler (A candle maker!). Now I am looking to mix things up and get in to the Data Analytics world.
        </p>
        
        <br>

        <h3>Richard Philipose</h3>
        <p>
          My favorite team is Barcelona (not my choice) and the country I would root for other than the US would be Argentina because Messi is from there. My favorite data set to work with is NBA Statistics. 
        </p>
        
        <br>

        



    </div>
    
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    -->
  </body>
</html>